<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand"routerLink="home" style="font-family: cursive;font-size: 20px"> <b>ASSIGNMENT</b></a>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" routerLink="home"><b><i style="color: rgb(143, 90, 90)">Home</i></b> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="user"><b><i style="color: rgb(168, 109, 109)">User</i></b> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="typicode"><b><i style="color: rgb(173, 114, 114)">Typicode</i></b> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="cars"><b><i style="color: rgb(173, 114, 114)">Cars info</i></b> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="car-details"><b><i style="color: rgb(173, 114, 114)">Cars Details</i></b> </a>
      </li>

    </ul>
  </div>
</nav>