#grad
{
    height: 300px;
    background: linear-gradient( to top, red,yellow,blue,black);
}
#grad1
{
    height: 300px;
    background: radial-gradient(rgb(59, 59, 1),rgb(18, 117, 18),rgb(1, 59, 1));
}