<div class="card card-body col-md-3 offset-1 float-left mt-5" style="background-color: rgb(88, 125, 206)"
    *ngFor="let product of firebaseService.details">
    <h3 class="bg-dark , text-danger , text-center"> {{product.Name}} </h3>
    <img src="{{product.img}}" alt="">
    <p> {{product.description}}</p>

    <button class="btn btn-outline-warning" (click)='updateProduct(product)'>Update</button>
    <br>
    <button class="btn btn-outline-danger" (click)='deleteProduct(product)'>Delete</button>
</div>