<!-- Normal Class -->
<!-- <h1 [ngClass]='{"bg-success":"isSuccess","text-white":"isSuccess"}'>Hello ngClass Directives</h1> -->

<!-- ************************************************************************************************* -->

<!-- Class Array -->
 <h1 [ngClass]='classesArray'>Hello ngClass Directives</h1>

 <!-- ************************************************************************************************* -->

<!-- ngstyle -->
<h1 [ngStyle]="{'padding':isSuccess ? '100px':'0px','background':isSuccess ? 'green':'red' }">hello</h1>

<p appMyDirective>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quidem velit provident laboriosam reiciendis eaque enim perspiciatis voluptatum placeat qui?</p>
